# Copy this to .env.local and fill in your values

NEXT_PUBLIC_SUPABASE_URL=https://dqnizffhupehuwxenqur.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxbml6ZmZodXBlaHV3eGVucXVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NDM3MDksImV4cCI6MjA5MDQxOTcwOX0.dSyoQ208fmItiEtMBCeU5Od8mTAnMqRNDnBXMMw20nU

# Firebase FCM (push notifications)
VITE_FIREBASE_API_KEY=AIzaSyAOr4QcydVL93WLjVn3lWhqQOE6yBU5udY
VITE_FIREBASE_AUTH_DOMAIN=womensafety-a767c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=womensafety-a767c
VITE_FIREBASE_MESSAGING_SENDER_ID=74651686703
VITE_FIREBASE_APP_ID=1:74651686703:web:20a295baf1fa3339c233da
VITE_FIREBASE_MEASUREMENT_ID=G-8JX2YR74YQID=
